header{
    padding: 0.5em;
    background-image: url("images/banniere.jpg");
    text-align: center;
}
footer{
    background-color: rgb(223, 223, 223);
}
button h2{
    width: 400px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}

button h2:hover {
    width: 450px;
    height: 50px;
}
img{
    height: 150px;
    width: 125px;
    border-radius: 50%;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #808080;
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.center{
    text-align: center;
}
.footer-right{
    text-align: right;
    margin-right: 1em;
}
.footer-left{
    text-align: left;
    margin-left: 2em;
    margin-top: 2em;
}
html{
    background-color: rgb(26, 26, 26);
}
.Dev{
    font-size: 52px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    background-color: #808080;

}